.contextMenu {
    position: fixed;
    border: 1px solid #ddd;
    background-color: rgb(208, 229, 240); 
    clear:both;
    z-index: 100;
    padding: 5px;
}

#menuButton {
    display: block;
    width: 200px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: aquamarine;
    padding: 10px;
/*    margin-left: 300px;*/
    margin-left: 10px;
z-index: 0;

}
